<section class="tasklist-wrapper">
    <h1 class="title">Task List</h1>
    <div class="new-task">
        <input type="text" (keyup.enter)="addTask()" placeholder="Add new task" [formControl]="newTask">        
        <button (click)="addTask()"> + </button>
    </div>    
    <div class="filters">
        <button (click)="changeFilter('all')" [class.active]="filter() === 'all'">All</button>
        <button (click)="changeFilter('active')" [class.active]="filter() === 'active'">Active</button>
        <button (click)="changeFilter('completed')" [class.active]="filter() === 'completed'">Completed</button>
    </div>

    <ul class="tasklist">
        @for (task of taskListFiltered(); track task.id) {
            @if (task.editing) {
                <li class="task-editing">
                    <input type="text" placeholder="Edit task" [value]="task.title" (keydown.enter)="saveTitleTask(task.id, $event)">
                </li>
            } @else {
                <li class="task">
                    <input type="checkbox" [checked]="task.completed" (click)="toggleTask(task.id)"  />
                    <label> {{ task.title }} </label>
                    @if (!task.completed) {<button (click)="updateTaskEditingMode(task.id)">edit</button>}
                    <button class="text-red-500" (click)="removeTask(task.id)">delete</button>
                </li>
            }
        } 

        
        

    </ul>

</section>